<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AzureAssessment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AzureAssessment.styles.css" asp-append-version="true" />
    <style>
        a{
            text-decoration:none;
        }
        .application-div {
            display: flex;
            flex-direction: column;
            overflow: auto;
            height: 100vh;
        }

        .application-content {
            display: flex;
            height: 100vh;
        }
        .header-logo {
            width: 200px;
        }
        .sidebar {
            width: 200px;
            background-color: #00171F;
            display: flex;
            flex-direction: column;
        }

        .application-content {
            /*flex: 0.9;*/
            overflow-x: hidden;
           
        }

        .application-content::-webkit-scrollbar {
            display: none;
        }

        .application-content {
            -ms-overflow-style: none; /* IE and Edge */
        } 

        .content {
            /*flex: 0.9;*/
            overflow-x: hidden;
            /* overflow-y: hidden; */
            /* overflow-y: auto; */
            width: calc(100% - 200px);
        }

        .content::-webkit-scrollbar {
            display: none;
        }

        .content {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        .ws-content {
            overflow-x: hidden;
        }

        .ws-content::-webkit-scrollbar {
            display: none;
        }

        .ws-content {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        .sidenav {
            padding-top: 1rem;
        }

        .sidenav a {
            color: white;
            padding: 1em;
            display: inline-block;
            list-style-type: none;
            width: 100%;
            height: auto;
        }

        .sidenav a:hover {
            transition: 2s;
            background-color: white;
            color: #00171F;
            text-decoration: none;
            opacity: 0.9;
            transition: 0.3s;
            cursor: pointer;
            transform: scale(1.01);
            font-weight: bolder;
        }

        .header-logo:hover {
            color: white;
        }

        * {
            margin: 0;
            padding: 0;
            text-decoration: none;
        }

        .main-header {
            background-color: whitesmoke;
            padding: 0;
            border-bottom: 1px solid #e72929;
        }

        .header-containerr {
            margin-right: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .header-logo {
            font-weight: bold;
            padding: 1em;
            background-color: #af1313;
            color: white;
            border-radius: 0 2rem 0 0;
            text-decoration: none;
        }

        .header-links-list {
            list-style-type: none;
            margin: 0;
        }

        .header-links a {
            color: #af1313;
            padding: 1em;
            display: inline-block;
            list-style-type: none;
        }

        .header-links a:hover {
            background-color: #e72929;
            color: white;
            text-decoration: none;
            opacity: 0.9;
            transition: 0.3s;
            cursor: pointer;
        }

        .header-logo:hover {
            text-decoration: none;
            opacity: 0.9;
            transition: 0.3s;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="application-div">
        <header class="main-header">
            <div class="header-containerr">
                <a class="header-logo" asp-controller="Movie" asp-action="List">Azure Tutorial </a>
                <nav>
                    <ul class="header-links-list">
                        
                            <li class="header-links">
                                <a asp-controller="BlobImage" asp-action="UploadImageToBlob">Blob</a>
                                <a asp-controller="ServiceBus" asp-action="UploadMessageToServiceBus">Service Bus</a>
                                <a asp-controller="KeyVault" asp-action="Index">Key Vault</a>
                            </li>
                        
                    </ul>
                </nav>
            </div>
        </header>
        <div class="application-content">
            @RenderBody() 
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
