@model IEnumerable<Image>

<div class="sidebar">
    <div class="sidenav">
        <a class="nav-link" asp-area="" asp-controller="BlobImage" asp-action="UploadImageToBlob">Upload Image</a>
        <a class="nav-link" asp-area="" asp-controller="BlobImage" asp-action="ImageList">Images List</a>
        <a class="nav-link" asp-area="" asp-controller="BlobCSV" asp-action="UploadCSVToBlob">Upload CSV</a>
        <a class="nav-link" asp-area="" asp-controller="BlobCSV" asp-action="List">CSV List</a>
    </div>
</div>
<div class="content">
    <div class="lhead" style="background-color: whitesmoke; padding: 2px 0; margin-bottom:5px;">
        <h1 style="text-align:center; color:#e72929;">Image List</h1>
    </div>
    <ul class="ml-ul">
        @foreach (var image in @Model)
        {
            <li>
                <a>
                    <img class="ml-image" src="@Html.DisplayFor(d => image.ImageUrl)" alt="foods-image">
                    <div class="ml-content">
                        <div class="ml-title">
                            <div class="ml-movie-name">
                                @{
                                    string imageName = image.ImageName == null ? "" : image.ImageName;
                                    if (imageName?.Length > 22)
                                    {
                                        imageName = imageName.Substring(0, 22);
                                        imageName += "...";
                                    }
                                }
                                @imageName
                            </div>
                            
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>
     




<style>
    .ml-image {
        height: 200px;
    }

    .ml-title {
        display: flex;
    }

    .ml-ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
    }

        .ml-ul li {
            margin-bottom: 0.5rem;
        }

            .ml-ul li a {
                background-color: white;
                height: auto;
                width: 17rem;
                border: 1px solid whitesmoke;
                border-radius: 1rem;
                margin: 0.5rem;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                color: #e72929;
            }

                .ml-ul li a:hover {
                    opacity: 0.75;
                    transition: 0.3s;
                    cursor: pointer;
                    text-decoration: none;
                    transform: scale(1.02);
                }

    .ml-content {
        padding: .5rem 1rem;
        position: relative;
    }

    .ml-movie-name {
        flex: 0.75;
        font-weight: bold;
    }

    .ml-favorite {
        position: absolute;
        top: .5rem;
        right: 1rem;
        font-size: 1.2rem;
    }

    .ml-product-item-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ml-genres {
        border-radius: 2rem;
        background-color: whitesmoke;
        color: grey;
        font-size: .8rem;
        margin-right: .3rem;
        display: inline-block;
        flex: 0.96;
    }

    .ml-duration {
        font-size: 1rem;
        text-align: center;
    }

    .ml-show-time {
        color: #424242;
        margin-top: .2rem;
    }


    /* FILTER COMPONENT */
    .ml-filter-comp {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

        .ml-filter-comp input {
            border-radius: 10rem 0 0 10rem;
            width: 20rem;
            height: 3rem;
            background-color: #f1f1f1;
            padding: 1.2rem;
            text-align: center;
            font-weight: 500;
            font-size: 1rem;
            outline: none;
            border: none;
        }

        .ml-filter-comp button {
            height: 3rem;
            width: 5rem;
            font-size: 1rem;
            border-radius: 0 10rem 10rem 0;
            outline: none;
            background-color: #e72929;
            color: white;
            border: none;
        }

            .ml-filter-comp button:hover {
                opacity: 0.9;
                transition: 0.3s;
                cursor: pointer;
            }

    .ml-movie-pricing-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ml-movie-price-age {
        display: flex;
    }

    .ml-age-rating {
        margin-left: 0.5rem;
    }

    .ml-movie-type {
        background-color: #e72929;
        border-radius: 1rem;
        color: white;
        padding: 0.1rem 0.5rem;
    }
</style>