@model Image;

<div class="container">
    <form asp-action="UploadImageToBlob" enctype="multipart/form-data">
        <input asp-for="ImageCaption" placeholder="Enter Image Caption" />
        <br />

        <input asp-for="ImageDescription" placeholder="Enter Image Description" />
        <br />

        <input asp-for="MyImage" accept="image/png, image/gif, image/jpeg" />
        <br />

        <input type="submit" />
    </form>
</div>