@model Image;

<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card-group">
                <div class="card p-4">
                    <div class="card-body">
                        <form class="am-form" asp-action="UploadImageToBlob" enctype="multipart/form-data" method="post">
                            <h1 style="text-align:center; color:#e72929;">Upload Image</h1>
                            
                            <hr />
                            <br />

                            <div class="input-group form-row mb-3">
                                <div class="form-row-label">Image Caption</div>
                                <div class="form-row-input">
                                    <input type="text"
                                           class="form-control form-row-input"
                                           placeholder="Enter your Image Caption here..."
                                           asp-for="ImageCaption">
                                    <span asp-validation-for="ImageCaption" class="form-text text-danger"></span>
                                </div>
                            </div>

                            <div class="input-group form-row mb-3">
                                <div class="form-row-label">Image Description</div>
                                <div class="form-row-input">
                                    <input type="text"
                                           class="form-control form-row-input"
                                           placeholder="Enter your Image Description here..."
                                           asp-for="ImageDescription">
                                    <span asp-validation-for="ImageDescription" class="form-text text-danger"></span>
                                </div>
                            </div>

                            <div class="input-group form-row mb-3">
                                <div class="form-row-label">Select Image</div>
                                <div class="form-row-input">
                                    <input type="file"
                                           class="form-control form-row-input"
                                           asp-for="MyImage" 
                                           accept="image/png, image/gif, image/jpeg">
                                    <span asp-validation-for="MyImage" class="form-text text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="button-div">
                                <div class="">
                                    <button type="submit" class="btn btn-success px-4">Upload Image</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        margin: 40px 0;
    }
    
    .form-row {
        display: flex;
    }

    .form-row-label {
        flex: 0.35;
        font: 8px;
        padding: 5px 0;
    }

    .form-row-input {
        flex: 0.65;
    }

    .form-row-input > span {
         width: 100%;
         font-size: 0.95rem;
         font-weight: bolder;
     }

    .button-div{
        display:flex;
        justify-content:center;
    }
</style>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
