@model Image;

<div class="text-center">

    <form asp-action="Index" enctype="multipart/form-data">

        <input asp-for="ImageCaption"/>
    <input asp-for="ImageDescription"/>
    <input asp-for="MyImage"/>

    <input type="submit"/>
</form>
</div>
