@model RecieveMessages;

<div class="sidebar">
    <div class="sidenav">
       <a class="nav-link" asp-area="" asp-controller="ServiceBus" asp-action="UploadMessageToServiceBus">Send Message</a>
       <a class="nav-link" asp-area="" asp-controller="ServiceBus" asp-action="RecieveMessageFromServiceBus">Recieve Message</a>
    </div>
</div>
<div class="content">
    @if (Model.Messages == null)
    {
        <div class="containerr" style="width:100%;">
            <div class="row" style="width:100%;">
                <div class="col-md-7 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form class="am-form" asp-action="RecieveMessageFromServiceBus" enctype="multipart/form-data" method="post">
                                    <h1 style="text-align:center; color:#e72929;">Recieve Message</h1>
                                    <h5 style="text-align:center; color:#e72929;">Azure Service Bus Queue</h5>


                                    <hr />
                                    <br />

                                    <div class="input-group form-row mb-3">
                                        <div class="form-row-label">Message Count</div>
                                        <div class="form-row-input">
                                            <input type="number"
                                               class="form-control form-row-input"
                                               asp-for="MessageCount">
                                            <span asp-validation-for="MessageCount" class="form-text text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="button-div">
                                        <div class="">
                                            <button type="submit" class="btn btn-success px-4">Receive</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    else
    {
        <div class="rcv-container">
            <div class="rcv-form">
                <div class="containerr" style="width:100%;">
                    <div class="row" style="width:100%;">
                        <div class="col-md-11 mx-auto">
                            <div class="card-group">
                                <div class="card p-4">
                                    <div class="card-body">
                                        <form class="am-form" asp-action="RecieveMessageFromServiceBus" enctype="multipart/form-data" method="post">
                                            <h1 style="text-align:center; color:#e72929;">Recieve Message</h1>
                                            <h5 style="text-align:center; color:#e72929;">Azure Service Bus Queue</h5>


                                            <hr />
                                            <br />

                                            <div class="input-group form-row mb-3">
                                                <div class="form-row-label">Message Count</div>
                                                <div class="form-row-input">
                                                    <input type="number"
                                                       class="form-control form-row-input"
                                                       asp-for="MessageCount">
                                                    <span asp-validation-for="MessageCount" class="form-text text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="button-div">
                                                <div class="">
                                                    <button type="submit" class="btn btn-success px-4">Receive</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vl"></div>
            <div class="rcv-message-list" style="color:white;">
                <div class="containerr" style="width:100%;">
                    <div class="row" style="width:100%;">
                        <div class="col-md-11 mx-auto">
                            <div class="card-group">
                                <div class="card p-4">
                                    <div class="card-body">
                                        <h1 style="text-align:center; color:#e72929;">Message List</h1>
                                        <table class="table">
                                            <thead class="head">
                                                <tr>
                                                    <th class="center-align">Sno</th>
                                                    <th>File Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int i = 1;
                                                }
                                                @foreach (var message in @Model.Messages)
                                                {
                                                    <tr class="msg-list">
                                                        <td class="center-align">@i</td>
                                                        @{
                                                            i++;
                                                        }
                                                        <td>@Html.DisplayFor(d => message))</td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>





<style>
    .vl {
        border-left: 2px solid whitesmoke;
        height: 100vh;
    }
    .bg-white {
        background-color: white;
    }

    .msg-list:hover {
        cursor: pointer;
        background-color: #e72929;
        color: white;
        font-weight: 100;
        text-decoration: none;
        opacity: 0.9;
        transition: 0.3s;
        transform: scale(1.01);
    }

    .OnHover:hover {
        cursor: pointer;
        background-color: #e72929;
        color: white;
        font-weight: 100;
        text-decoration: none;
        opacity: 0.9;
        transition: 0.3s;
        transform: scale(1.01);
    }

    .center-align {
        text-align: center;
    }

    .center-align {
        text-align: center;
    }
    
    .rcv-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
    }

    .rcv-form{
        flex:0.5;
    }

    .rcv-message-list {
        flex: 0.5;
    }

    .containerr {
        margin: 40px 0;
        display: flex;
        justify-content: center;
    }
    
    .form-row {
        display: flex;
    }

    .form-row-label {
        flex: 0.35;
        font: 8px;
        padding: 5px 0;
    }

    .form-row-input {
        flex: 0.65;
    }

    .form-row-input > span {
         width: 100%;
         font-size: 0.95rem;
         font-weight: bolder;
     }

    .button-div{
        display:flex;
        justify-content:center;
    }
</style>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
